.nav-bar {
  display: flex;
  align-items: center;
  background-color: #023366;
  color: white;
  border-top: 15px solid red;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  padding-left: 20px;
  width: 300px;
}

button {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bolder;
  background-color: #023366;
}

button:hover {
  text-decoration: underline;
}
